/* Show it's not fixed to the top */

body {
    /*min-height: 75rem;*/
}


/* Padding on inputs */

input[type=text],
input[type=password],
input[type=email],
input[type=time]{
    padding: 12px 20px;
    margin: 8px 0;
}


/* Center the avatar image inside this container */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


/* Avatar image */

img.avatar {
    width: 40%;
    border-radius: 50%;
}


/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

.whitespace {
    padding-top: 70px;
}


.special-btn {
    margin-top: 20px;
    margin-left: 20px;
}

.btn-top {
    margin-top: 5px;
}

.checks {
    margin: 5px;
}

.error-msg {
    color: red;
}
